:root{
    --screen:#002244;
    --operation_buttons:#0047AB;
    --number_buttons:#007FFF;
    --equal_button:#00CED1;
    --frame:rgba(142, 164, 154, 0.3);
    --font:'Roboto', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }
body{
     font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
  }

button , input {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@media (min-width: 768px) {
    .main{
        width: 30rem;
        margin-left: 5rem;
        margin-top: 5rem;
    }
    .container2{
        grid-column: 2 / 5;
        width: 90%;
    }
}

@media (max-width: 768px) {
    .main{
        width: 100%;
        grid-column: 1 / 5;
    }
    .container2{
        grid-template-rows: repeat(2 , 1fr);
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        width: 100%;
    }
}
nav{
    width: 100%;
    height: 5.5rem;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    padding-left: 1rem;
    text-align: left;
    gap: 2rem;
    font-family: var(--font);
    color: white;
}

nav img{
    height: 80%;
    
    
}

.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5 , 1fr);
    gap: 0.2rem;
    font-family: var(--font);
    font-size: 2rem;
    background-color: var(--frame);
    padding: 2rem;
    border-radius: 1rem;
}
.screen{
    background-color: var(--screen);
    width: 100%;
    height: 7rem;
    grid-column: 1 / 5;
    color:white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: right;
    padding-right: 1rem;
}
.button{
    width: 100%;
    height: 100%;
    background-color: var(--number_buttons);
    margin: 0.1rem;
    color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.button:hover{
    background-color: var(--screen);
}
.button:active{
    background-color:#2E2787;
}

.operation{
    background-color: var(--operation_buttons);
}

.zero{
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}
.equal{
    background-color: var(--equal_button);
}

/*CONTAINER*/
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}


/* CONTAINER 2*/

.container2{
background-color: var(--frame);
margin-top: 5rem;
border-radius: 1rem;
margin-right: 1rem;
height: 40rem;
padding: 1rem;

}
h2{
    font-family: var(--font);
    color: white;
    text-align: center;
    text-transform:uppercase;
}
p{
    font-family: var(--font);
    color: white;
}
a img{
    
    width: 4rem;
}